In [1]:
import os
import pandas as pd

In [2]:
csv_path = os.path.join("csv_files", "senators.csv")
df = pd.read_csv(csv_path, encoding = 'utf8')
df

    Unnamed: 0                  name state       party
0            0         Sherrod Brown    OH    Democrat
1            1        Maria Cantwell    WA    Democrat
2            2    Benjamin L. Cardin    MD    Democrat
3            3      Thomas R. Carper    DE    Democrat
4            4  Robert P. Casey, Jr.    PA    Democrat
..         ...                   ...   ...         ...
95          95            J.D. Vance    OH  Republican
96          96        John Fetterman    PA    Democrat
97          97         Pete Ricketts    NE  Republican
98          98    Laphonza R. Butler    CA    Democrat
99          99       George S. Helmy    NJ    Democrat

[100 rows x 4 columns]

In [3]:
df['Last Name'] = df['name'].apply(lambda x: x.split()[-1])
df

    Unnamed: 0                  name state       party  Last Name
0            0         Sherrod Brown    OH    Democrat      Brown
1            1        Maria Cantwell    WA    Democrat   Cantwell
2            2    Benjamin L. Cardin    MD    Democrat     Cardin
3            3      Thomas R. Carper    DE    Democrat     Carper
4            4  Robert P. Casey, Jr.    PA    Democrat        Jr.
..         ...                   ...   ...         ...        ...
95          95            J.D. Vance    OH  Republican      Vance
96          96        John Fetterman    PA    Democrat  Fetterman
97          97         Pete Ricketts    NE  Republican   Ricketts
98          98    Laphonza R. Butler    CA    Democrat     Butler
99          99       George S. Helmy    NJ    Democrat      Helmy

[100 rows x 5 columns]

In [4]:
output_csv_path = os.path.join("csv_files", "senators_modified.csv")
df.to_csv(output_csv_path, encoding='utf8', index=False)